// stylelint-disable scss/dollar-variable-default
$table-border-color: $color-border;
$table-cell-padding-y: 23px;
$table-cell-padding-x: 0;
$table-bg: transparent;
$table-hover-bg: transparent;
$table-dark-bg: transparent;
$table-dark-hover-bg: transparent;
