{% set page_title = 'Home' %}
{% set body_class = 'bg-dark' %}
{% set navbar_dark = true %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set footer = 'simple-default' %}
{% set footer_dark = false %}

{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="py-160 position-relative">
    <div class="background show-on-scroll" data-show-duration="400">
        <div class="background-video jarallax" data-jarallax-video="mp4:assets/videos/homev.mp4"></div>
        <!-- <div class="background-color" style="background-color: #0e0e0e; opacity: .4;"></div> -->
    </div>

    <div class="py-70 container text-center show-on-scroll" style="max-width: 550px; pointer-events: none; z-index: 6;">
        <h2 class="h3 text-white" data-show-duration="1000" style="font-family: 'Bebas Neue', sans-serif">VISUAL AND UX DESIGNER</h2>
        <h1 class="display-4 text-white" data-show-duration="1000" style="font-family: 'Bebas Neue', sans-serif">SARA JIALIN HU</h1>

        <hr style="border-top:1px solid rgb(190, 189, 189); width:50%; margin: 1.5em auto;">

        <p class="text-white" data-show-duration="1000">I'm Sara, a product designer weaving pixels and passion to craft user-centric experiences that spark delight.</p>        
    </div>

    <!-- <div class="background" style="z-index: 5;">
        <spline-viewer url="https://prod.spline.design/YHrc4IM4E5PMAnBd/scene.splinecode"></spline-viewer>
    </div> -->
    
</div>

<div class="pb-10 bg-dark">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-12 mb-100 pb-5 show-on-scroll" data-show-duration="800" data-show-delay="100">
                {{ card_project_horizontal_global(name="jaunt", image_size="md", classes="card-image-md card-hover-frame text-white") }}
            </div>
            <div class="col-12 mb-100 pb-5 show-on-scroll" data-show-duration="800" data-show-delay="100">
                {{ card_project_horizontal_global(name="zeeum", image_size="md", swap="true", classes="card-image-md card-hover-frame text-white") }}
            </div>
            <div class="col-12 mb-100 pb-5 show-on-scroll" data-show-duration="800" data-show-delay="100">
                {{ card_project_horizontal_global(name="turnzero", image_size="md", classes="card-image-md card-hover-frame text-white") }}
            </div>
            <div class="col-12 mb-130 show-on-scroll" data-show-duration="800" data-show-delay="100">
                {{ card_project_horizontal_global(name="dzida", image_size="md", swap="true", classes="card-image-md card-hover-frame text-white") }}
            </div>
            <!-- <div class="col-12 mt-n10 text-center show-on-scroll" data-show-duration="800" data-show-delay="100">
                <a href="portfolio-col-1-style-1.html" class="btn btn-white btn-with-ball">all work</a>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}
