// stylelint-disable scss/dollar-variable-default
$btn-border-radius: 0;
$btn-border-width: 0;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$input-btn-padding-y: 15px;
$input-btn-padding-x: 40px;
$input-btn-font-family: $font-family-base;
