.cursor-text {
    top: 25px;
    left: 20px;
    padding: 9px 26px;
    font-size: em(20px);
    font-weight: 500;
    color: #fff;
    background-color: $dark;
}

@include media-breakpoint-down(lg) {
    [data-cursor-style="cursor-text"] {
        position: relative;

        &::after {
            content: attr(data-cursor-text);
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            max-width: 100%;
            padding: 9px 26px;
            font-size: em(20px);
            font-weight: 500;
            color: #fff;
            background-color: $dark;
            opacity: 0;
            will-change: opacity;
            transition: opacity .2s ease-in-out;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
        }
    }
}
